body {
    font-family: 'Arial', sans-serif;
    background-color: #f0e8d9; /* Fondo aún más suave */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.login-style, .register-style {
    background: #ffffff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 480px; /* Aumento del tamaño para PC */
    text-align: center;
}

h2 {
    color: #364f6b; /* Color oscuro azul */
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form p {
    margin: 0;
    margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    width: calc(100% - 20px); /* Ajuste para el padding */
    padding: 12px;
    border: 2px solid #b8c6db; /* Color azul claro para el borde */
    border-radius: 6px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #5C67F2; /* Azul más intenso al enfocar */
}

button {
    padding: 15px;
    background-color: #5C67F2; /* Azul para el botón */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 25px;
}

button:hover {
    background-color: #4a54e1; /* Azul más oscuro al pasar el mouse */
}

a {
    color: #6a7fdb; /* Azul más suave para los enlaces */
    text-decoration: none;
    margin-top: 25px;
}

a:hover {
    color: #5a6abf; /* Azul oscuro para el hover de enlaces */
}

h1 {
    font-size: 36px; /* Tamaño grande para el título */
    color: #324A5F; /* Color azul oscuro, elegante */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente moderna y limpia */
    text-align: center; /* Centrado del título */
    margin-top: 0;
    margin-bottom: 20px; /* Espacio después del título */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para dar profundidad */
    letter-spacing: 1px; /* Espaciado entre letras para una mejor lectura */
}
